<div class="card-header d-flex justify-content-between">
  <span>
    Todo Lists

  </span>
    <%= link_to "New todo list", new_todo_list_path, class: 'btn btn-primary btn-sm' %>    
    <% if @user %>
      Logged in as: <%= @user.email %>
      <%= link_to "Logout", logout_path, method: :delete, class: 'btn btn-primary btn-sm' %>
    <% end %>
</div>

<p style="color: green"><%= notice %></p>

<ul class='list-group'>
  <div id="todo_lists">
    <% @todo_lists.each do |todo_list| %>
      <li class="list-group-item">
        <%= render todo_list %>
        <%= link_to "Show todo", todo_list, class: 'btn btn-primary btn-sm' %>
        <ul>
          <% todo_list.todo_items.each do |todo_item| %>
            <li><%= todo_item.description %></li>
            <%= link_to "Show item", todo_list_todo_item_path(todo_list, todo_item) %>
          <% end %>
        </ul>
        <%= link_to "Show all items", todo_list_todo_items_path(todo_list), class: 'btn btn-primary btn-sm' %>
      </li>
    <% end %>
  </div>
</ul>



